node_modules
.env

# Webpack build folder
build

# happypack temporary cache
.happypack

# karma local config and report folders
karma.local.conf.js
karma-coverage

# npm files
npm-robocopy-log.txt
package-lock.json

tmp
._*

discord.json
